:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #DA1515;
  --color-main-bg: #f5f5f5;
  --color-gray: #e5e5e5;
  --color-gray-alt: #c5c5c5;
  --color-yellow: #F7EE55;

  --title-size: 24px;
  
  --border-small-black: 1px solid black;

  --font-weight-default: 400;
  --font-weight-medium: 600;

  --spacing-medium: 30px;
  --spacing-large: 50px;
}