.main__wrap {
  flex: 1;
  background-color: var(--color-gray);
}

.main__content {
  padding-top: 20px;
  display: flex;
  height: 100%;
}

@media (max-width: 800px) {
  .main__content {
    display: flex;
    flex-direction: column;
    
  }
}
